saves/
logs/
local/
.ReAuth.cfg
.curseclient
.mixin.out/
crafttweaker.log
knownkeys.txt
local/
logs/
minecraftinstance.json
options.txt
playerschoice.marker
usercache.json
usernamecache.json
config/splash.properties
crash-reports/
screenshots/
