saves/
logs/
local/
.ReAuth.cfg
.curseclient
.mixin.out/
crafttweaker.log
knownkeys.txt
local/
logs/
crash-reports/
minecraftinstance.json
options.txt
playerschoice.marker
usercache.json
usernamecache.json
config/splash.properties
screenshots/2020-01-20_17.07.02.png
config/splash.properties
config/jei/worldSettings.cfg
config/jei/worldSettings.cfg
